In [9]:
import pandas as pd
import os

In [12]:
mouse="bt0410"
date="30112022"
name=f"{mouse}-{date}-0105.csv"
path=f"/home/rowena/results/summary_scores/{mouse}/{name}/"

In [13]:
df = pd.read_csv(f'/home/rowena/results/summary_scores/{mouse}/{name}')
df.head()

,Unnamed: 0,session,mouse,date,genotype,age_days,clu,cell_number,refractory_period_ratio,environment1,...,mean_field_size5,grid_spacing1,grid_spacing3,grid_spacing5,grid_orientation1,grid_orientation3,grid_orientation5,grid_hexagon_error1,grid_hexagon_error3,grid_hexagon_error5
0,0,bt0496-30112022-0105,bt0496,2022-11-30 01:05:00,fad,153,1,0,0.063168,circ80,...,264.0,31.056446,NaN,28.666383,0.243288,NaN,0.920265,25.374847,NaN,12.548264
1,1,bt0496-30112022-0105,bt0496,2022-11-30 01:05:00,fad,153,2,1,0.130261,circ80,...,682.0,37.920053,NaN,46.711863,0.264444,NaN,0.465421,14.380302,NaN,69.836527
2,2,bt0496-30112022-0105,bt0496,2022-11-30 01:05:00,fad,153,8,2,0.072626,circ80,...,700.0,56.656818,50.089955,71.809231,0.338488,0.867376,0.306755,57.497547,35.749519,55.452735
3,3,bt0496-30112022-0105,bt0496,2022-11-30 01:05:00,fad,153,9,3,0.339101,circ80,...,NaN,55.030737,61.690871,40.209484,0.200977,0.084622,0.391377,60.683828,41.249777,37.620297
4,4,bt0496-30112022-0105,bt0496,2022-11-30 01:05:00,fad,153,10,4,0.016993,circ80,...,NaN,30.099541,NaN,NaN,0.454843,NaN,NaN,24.850680,NaN,NaN

In [14]:
df.dtypes

Unnamed: 0                   int64
session                     object
mouse                       object
date                        object
genotype                    object
age_days                     int64
clu                          int64
cell_number                  int64
refractory_period_ratio    float64
environment1                object
environment2                object
environment3                object
environment4                object
environment5                object
mean_firing_rate1          float64
mean_firing_rate3          float64
mean_firing_rate5          float64
max_firing_rate1           float64
max_firing_rate3           float64
max_firing_rate5           float64
grid_score1                float64
grid_score3                float64
grid_score5                float64
grid_score_threshold1      float64
grid_score_threshold3      float64
grid_score_threshold5      float64
info_score1                float64
info_score3                float64
info_score5                float64
info_score_threshold1      float64
info_score_threshold3      float64
info_score_threshold5      float64
mean_field_size1           float64
mean_field_size3           float64
mean_field_size5           float64
grid_spacing1              float64
grid_spacing3              float64
grid_spacing5              float64
grid_orientation1          float64
grid_orientation3          float64
grid_orientation5          float64
grid_hexagon_error1        float64
grid_hexagon_error3        float64
grid_hexagon_error5        float64
dtype: object

In [15]:
os.chdir(f'/home/rowena/results/summary_scores/{mouse}/')
os.listdir()

['bt0496-30112022-0105.csv',
 'bt0496-23112022-0105.csv',
 'bt0496-02122022-0105.csv',
 'bt0496-27112022-0105.csv',
 'bt0496-19112022-0105.csv',
 'bt0496-21112022-0105.csv',
 'bt0496-25112022-0105.csv',
 'bt0496-17112022-0105.csv']

In [16]:
files =[file for file in os.listdir()]
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
df.to_csv(f'/home/rowena/results/summary_scores/all_csv/{mouse}.csv')

In [17]:
df = pd.read_csv(f'/home/rowena/results/summary_scores/all_csv/{mouse}.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,session,mouse,date,genotype,age_days,clu,cell_number,refractory_period_ratio,...,mean_field_size5,grid_spacing1,grid_spacing3,grid_spacing5,grid_orientation1,grid_orientation3,grid_orientation5,grid_hexagon_error1,grid_hexagon_error3,grid_hexagon_error5
0,0,0,bt0496-30112022-0105,bt0496,2022-11-30 01:05:00,fad,153,1,0,0.063168,...,264.0,31.056446,NaN,28.666383,0.243288,NaN,0.920265,25.374847,NaN,12.548264
1,1,1,bt0496-30112022-0105,bt0496,2022-11-30 01:05:00,fad,153,2,1,0.130261,...,682.0,37.920053,NaN,46.711863,0.264444,NaN,0.465421,14.380302,NaN,69.836527
2,2,2,bt0496-30112022-0105,bt0496,2022-11-30 01:05:00,fad,153,8,2,0.072626,...,700.0,56.656818,50.089955,71.809231,0.338488,0.867376,0.306755,57.497547,35.749519,55.452735
3,3,3,bt0496-30112022-0105,bt0496,2022-11-30 01:05:00,fad,153,9,3,0.339101,...,NaN,55.030737,61.690871,40.209484,0.200977,0.084622,0.391377,60.683828,41.249777,37.620297
4,4,4,bt0496-30112022-0105,bt0496,2022-11-30 01:05:00,fad,153,10,4,0.016993,...,NaN,30.099541,NaN,NaN,0.454843,NaN,NaN,24.850680,NaN,NaN

In [18]:
os.chdir('/home/rowena/results/summary_scores/all_csv')
os.listdir()

['bt0410.csv',
 'bt1238.csv',
 'bt1316.csv',
 'bt0496.csv',
 'bt1258.csv',
 'bt1296.csv']

In [19]:
files =[file for file in os.listdir()]
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
df.to_csv('/home/rowena/results/summary_scores/CSVs/3control+2FAD.csv')